<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="./main.css">

</head>

<body>
    <h1 class=" hola">hola</h1>
    <ul>
        <li class="card">
            <img class="card__img" src="<%= image %>" alt="Carátula de <%= title %>">
            <h3 class="card__title">
                <%= title %>
            </h3>
            <p class="card__description">
                <%= gender %>
            </p>
        </li>
    </ul>
</body>

</html>